

/* font-family: 'Roboto', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
}

.font-roboto{
    font-family: Roboto, sans-serif;
}

.centered-box {
    /*position: absolute;*/
    /*transform: translateY(-50%);*/
    margin: auto;
    /*vertical-align: center;*/
    /*margin-top*/
    border-style: ridge;
    border-radius: 20px;
    background-color: #EEE;
    font-family: Roboto, sans-serif;
    align-content: center;
    align-self: center;
    width: 50vw;
    min-height: 50vh;
    max-height: 75%;
    display: flex;
    flex-direction: column;
}